<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.products"
         id="org.obeonetwork.dsl.togaf.ui.product">
      <product
      		name="TOGAF Designer"
      		application="org.obeonetwork.dsl.togaf.ui.application">
      	<property
      		name="appName"
      		value="TOGAF Designer"/>
      	<property
      		name="windowImages"
      		value="icons/logo_16.gif,icons/logo_32.gif,icons/logo_64.gif"/>
      	<property
      		name="aboutText"
      		value=""/>
      	<property
      		name="preferenceCustomization" value="plugin_customization.ini"/>
       <property
             name="aboutImage"
             value="icons/aboutpage_OD4EA.png">
       </property>
       <property
             name="startupProgressRect"
             value="5,275,445,15">
       </property>
      </product>
   </extension>
   
      <extension
         id="org.obeonetwork.dsl.togaf.ui.application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.obeonetwork.dsl.togaf.ui.application.Application">
         </run>
      </application>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.obeonetwork.dsl.togaf.ui.perspectives.TogafPerspective"
            fixed="false"
            icon="icons/logo_16.gif"
            id="org.obeonetwork.dsl.togaf.ui.perspectives.TogafPerspective"
            name="Obeo Designer for EA">
      </perspective>
   </extension>
   
   <extension point="org.eclipse.ui.perspectiveExtensions"> 
        <perspectiveExtension targetID="org.obeonetwork.dsl.togaf.ui.perspectives.TogafPerspective"> 
            <view
                  closeable="false"
                  id="org.obeonetwork.dsl.viewpoint.addons.ui.views.ModelExplorerView"
                  minimized="false"
                  moveable="false"
                  ratio="0.25"
                  relationship="left"
                  showTitle="true"
                  visible="true"/> 
            <view
                  closeable="false"
                  id="org.eclipse.ui.views.PropertySheet"
                  minimized="false"
                  moveable="false"
                  ratio="0.7"
                  relationship="bottom"
                  showTitle="true"
                  visible="true"/> 
        </perspectiveExtension> 
    </extension> 
   
   
   <extension point="org.eclipse.ui.intro">
      <intro
      		id="org.obeonetwork.dsl.togaf.ui.intro"
            class="org.obeonetwork.dsl.togaf.ui.intro.WebIntroPart">
      </intro>
      <introProductBinding
            introId="org.obeonetwork.dsl.togaf.ui.intro"
            productId="org.obeonetwork.dsl.togaf.ui.product">
      </introProductBinding>
   </extension>
   
	<!--
	<extension point="org.eclipse.ui.activities">
		<activity id="org.obeonetwork.dsl.togaf.ui.activity" name="TOGAF"/>   	
		<activityPatternBinding
			activityId="org.obeonetwork.dsl.togaf.ui.activity"
	     	isEqualityPattern="true"
	     	pattern="org.obeonetwork.dsl.togaf.ui/org.obeonetwork.dsl.togaf.ui.views.ModelExplorerView">
		</activityPatternBinding>
		<activity id="org.obeonetwork.dsl.togaf.ui.activity.toDisable" name="UI to disable"/>
		<activityPatternBinding 
			activityId="org.obeonetwork.dsl.togaf.ui.activity.toDisable"
	     	isEqualityPattern="false"
	     	pattern="org.eclipse.team.svn.ui/org.eclipse.team.svn.ui.*">
		</activityPatternBinding>
		<defaultEnablement id="org.obeonetwork.dsl.togaf.ui.activity"/>
	</extension>
	-->
 
	      
</plugin>
