<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="fr.obeo.dsl.viewpoint.componentization">
    <component class="org.obeonetwork.dsl.togaf.smartdesigner.Activator"
               id="org.obeonetwork.dsl.togaf.smartdesigner"
	       name="togafbasicdiagram">
    </component>
  </extension>
  <extension point="fr.obeo.dsl.viewpoint.externalJavaAction">
       <javaActions
             actionClass="org.obeonetwork.dsl.togaf.smartdesigner.actions.ShadeGraphicalElement"
             id="org.obeonetwork.dsl.togaf.smartdesigner.actions.ShadeGraphicalElement">
       </javaActions>
    </extension>
        <extension point="fr.obeo.dsl.viewpoint.externalJavaAction">
       <javaActions
             actionClass="org.obeonetwork.dsl.togaf.smartdesigner.actions.SelectConnectedElements"
             id="org.obeonetwork.dsl.togaf.smartdesigner.actions.SelectConnectedElements">
       </javaActions>
    </extension>
    <extension point="fr.obeo.dsl.viewpoint.externalJavaAction">
       <javaActions
             actionClass="org.obeonetwork.dsl.togaf.smartdesigner.actions.SelectViewpoint"
             id="org.obeonetwork.dsl.togaf.smartdesigner.actions.SelectViewpoint">
       </javaActions>
    </extension>
</plugin>
