<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.obeonetwork.org/dsl/togaf/contentfwk/9.0.0"
            class="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.provider.ContentfwkItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>
   
   <!-- EEF extensions -->
   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.obeonetwork.org/dsl/togaf/contentfwk/9.0.0"
            class="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.providers.ContentfwkEEFAdapterFactory"
            supportedTypes="org.eclipse.emf.eef.runtime.providers.PropertiesEditingProvider"/>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.providers.ContentfwkPropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>

   <!-- Tabbed properties views extension -->
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="fr.obeo.dsl.viewpoint.diagram">
         <propertyCategory
               category="default">
         </propertyCategory>
         <propertyCategory
               category="extended">
         </propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="fr.obeo.dsl.viewpoint.diagram">
         <propertyTab
               label="Base"
               category="default"
               id="Base">
         </propertyTab>
         <propertyTab
               label="OrganizationActor"
               category="extended"
               id="OrganizationActor"
               afterTab="OrganizationActor">
         </propertyTab>
         <propertyTab
               label="BusinessServiceFunction"
               category="extended"
               id="BusinessServiceFunction"
               afterTab="Base">
         </propertyTab>
         <propertyTab
               label="Driver Goal Objective"
               category="extended"
               id="Driver Goal Objective"
               afterTab="Driver Goal Objective">
         </propertyTab>
         <propertyTab
               label="Locations"
               category="extended"
               id="Locations"
               afterTab="Locations">
         </propertyTab>
         <propertyTab
               label="Process Event Control Product"
               category="extended"
               id="Process Event Control Product"
               afterTab="Process Event Control Product">
         </propertyTab>
         <propertyTab
               label="Contract Measure"
               category="extended"
               id="Contract Measure"
               afterTab="Contract Measure">
         </propertyTab>
         <propertyTab
               label="Roles"
               category="extended"
               id="Roles"
               afterTab="Roles">
         </propertyTab>
         <propertyTab
               label="Data Entities"
               category="extended"
               id="Data Entities"
               afterTab="Data Entities">
         </propertyTab>
         <propertyTab
               label="Logical Data"
               category="extended"
               id="Logical Data"
               afterTab="Base">
         </propertyTab>
         <propertyTab
               label="Physical Data"
               category="extended"
               id="Physical Data"
               afterTab="Physical Data">
         </propertyTab>
         <propertyTab
               label="Platform Services"
               category="extended"
               id="Platform Services"
               afterTab="Platform Services">
         </propertyTab>
         <propertyTab
               label="Logical Technology Components"
               category="extended"
               id="Logical Technology Components"
               afterTab="Base">
         </propertyTab>
         <propertyTab
               label="Physical Technology Components"
               category="extended"
               id="Physical Technology Components"
               afterTab="Physical Technology Components">
         </propertyTab>
         <propertyTab
               label="Information System Services"
               category="extended"
               id="Information System Services"
               afterTab="Information System Services">
         </propertyTab>
         <propertyTab
               label="Logical Application Components"
               category="extended"
               id="Logical Application Components"
               afterTab="Base">
         </propertyTab>
         <propertyTab
               label="Physical Application Components"
               category="extended"
               id="Physical Application Components"
               afterTab="Physical Application Components">
         </propertyTab>
         <propertyTab
               label="PrinciplesCatalogView"
               category="extended"
               id="PrinciplesCatalogView"
               afterTab="PrinciplesCatalogView">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="fr.obeo.dsl.viewpoint.diagram">
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.section.EnterpriseArchitecture"
               tab="Base">
             <input
                    type="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.EnterpriseArchitecture">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.section.BusinessArchitecture"
               tab="OrganizationActor">
             <input
                    type="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.BusinessArchitecture">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.section.BusinessArchitecture"
               tab="BusinessServiceFunction">
             <input
                    type="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.BusinessArchitecture">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.section.BusinessArchitecture"
               tab="Driver Goal Objective">
             <input
                    type="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.BusinessArchitecture">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.section.BusinessArchitecture"
               tab="Locations">
             <input
                    type="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.BusinessArchitecture">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.section.BusinessArchitecture"
               tab="Process Event Control Product">
             <input
                    type="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.BusinessArchitecture">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.section.BusinessArchitecture"
               tab="Contract Measure">
             <input
                    type="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.BusinessArchitecture">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.section.BusinessArchitecture"
               tab="Roles">
             <input
                    type="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.BusinessArchitecture">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.section.DataArchitecture"
               tab="Data Entities">
             <input
                    type="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.DataArchitecture">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.section.DataArchitecture"
               tab="Logical Data">
             <input
                    type="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.DataArchitecture">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.section.DataArchitecture"
               tab="Physical Data">
             <input
                    type="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.DataArchitecture">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.section.TechnologyArchitecture"
               tab="Platform Services">
             <input
                    type="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.TechnologyArchitecture">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.section.TechnologyArchitecture"
               tab="Logical Technology Components">
             <input
                    type="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.TechnologyArchitecture">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.section.TechnologyArchitecture"
               tab="Physical Technology Components">
             <input
                    type="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.TechnologyArchitecture">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.section.Driver"
               tab="Base">
             <input
                    type="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.Driver">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.section.Goal"
               tab="Base">
             <input
                    type="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.Goal">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.section.Objective"
               tab="Base">
             <input
                    type="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.Objective">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.section.OrganizationUnit"
               tab="Base">
             <input
                    type="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.OrganizationUnit">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.section.Actor"
               tab="Base">
             <input
                    type="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.Actor">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.section.Role"
               tab="Base">
             <input
                    type="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.Role">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               filter="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.section.DataEntity"
               tab="Base">
             
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.section.LogicalApplicationComponent"
               tab="Base">
             <input
                    type="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.LogicalApplicationComponent">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.section.Function"
               tab="Base">
             <input
                    type="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.Function">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.section.BusinessService"
               tab="Base">
             <input
                    type="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.BusinessService">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.section.Process"
               tab="Base">
             <input
                    type="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.Process">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.section.PlatformService"
               tab="Base">
             <input
                    type="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.PlatformService">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.section.PhysicalTechnologyComponent"
               tab="Base">
             <input
                    type="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.PhysicalTechnologyComponent">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.section.Product"
               tab="Base">
             <input
                    type="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.Product">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.section.Measure"
               tab="Base">
             <input
                    type="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.Measure">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.section.ServiceQuality"
               tab="Base">
             <input
                    type="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.ServiceQuality">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.section.Contract"
               tab="Base">
             <input
                    type="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.Contract">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.section.Event"
               tab="Base">
             <input
                    type="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.Event">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.section.Control"
               tab="Base">
             <input
                    type="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.Control">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.section.Element"
               tab="Base">
             <input
                    type="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.Element">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.section.Container"
               tab="Base">
             <input
                    type="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.Container">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.section.Location"
               tab="Base">
             <input
                    type="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.Location">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.section.Capability"
               tab="Base">
             <input
                    type="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.Capability">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.section.Principle"
               tab="Base">
             <input
                    type="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.Principle">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.section.Constraint"
               tab="Base">
             <input
                    type="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.Constraint">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.section.Assumption"
               tab="Base">
             <input
                    type="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.Assumption">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.section.Requirement"
               tab="Base">
             <input
                    type="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.Requirement">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.section.Gap"
               tab="Base">
             <input
                    type="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.Gap">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.section.WorkPackage"
               tab="Base">
             <input
                    type="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.WorkPackage">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.section.LogicalDataComponent"
               tab="Base">
             <input
                    type="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.LogicalDataComponent">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.section.PhysicalDataComponent"
               tab="Base">
             <input
                    type="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.PhysicalDataComponent">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.section.ApplicationArchitecture"
               tab="Information System Services">
             <input
                    type="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.ApplicationArchitecture">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.section.ApplicationArchitecture"
               tab="Logical Application Components">
             <input
                    type="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.ApplicationArchitecture">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.section.ApplicationArchitecture"
               tab="Physical Application Components">
             <input
                    type="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.ApplicationArchitecture">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.section.PhysicalApplicationComponent"
               tab="Base">
             <input
                    type="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.PhysicalApplicationComponent">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.section.LogicalTechnologyComponent"
               tab="Base">
             <input
                    type="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.LogicalTechnologyComponent">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.section.StrategicArchitecture"
               tab="PrinciplesCatalogView">
             <input
                    type="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.StrategicArchitecture">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.section.InformationSystemService"
               tab="Base">
             <input
                    type="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.InformationSystemService">
             </input>
         </propertySection>
      </propertySections>
   </extension>
 </plugin>