<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.presentation.ContentfwkModelWizardID"
            name="%_UI_ContentfwkModelWizard_label"
            class="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.presentation.ContentfwkModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ContentfwkModelFile.gif">
         <description>%_UI_ContentfwkModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.presentation.ContentfwkEditorID"
            name="TOGAF Catalogs"
            icon="icons/full/obj16/ContentfwkModelFile.gif"
            extensions="togaf"
            class="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.presentation.ContentfwkEditor"
            contributorClass="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.presentation.ContentfwkActionBarContributor">
      </editor>
   </extension>
   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.presentation.ContentfwkBusinessEditorID"
            name="TOGAF - Business Catalog"
            icon="icons/full/obj16/ContentfwkModelFile.gif"
            extensions="togaf"
            class="org.obeonetwork.dsl.togaf.business.contentfwk.presentation.BusinessEditor"
            contributorClass="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.presentation.ContentfwkActionBarContributor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.obeonetwork.dsl.togaf.application.contentfwk.presentation.ApplicationEditor"
            contributorClass="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.presentation.ContentfwkActionBarContributor"
            extensions="togaf"
            icon="icons/full/obj16/ContentfwkModelFile.gif"
            id="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.presentation.ContentfwkApplicationEditorID"
            name="TOGAF - Application Catalog">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.obeonetwork.dsl.togaf.data.contentfwk.presentation.DataEditor"
            contributorClass="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.presentation.ContentfwkActionBarContributor"
            extensions="togaf"
            icon="icons/full/obj16/ContentfwkModelFile.gif"
            id="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.presentation.ContentfwkDataEditorID"
            name="TOGAF - Data Catalog">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.obeonetwork.dsl.togaf.technology.contentfwk.presentation.TechnologyEditor"
            contributorClass="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.presentation.ContentfwkActionBarContributor"
            extensions="togaf"
            icon="icons/full/obj16/ContentfwkModelFile.gif"
            id="org.obeonetwork.dsl.togaf.contentfwk.contentfwk.presentation.ContentfwkTechnologyEditorID"
            name="TOGAF - Technology Catalog">
      </editor>
   </extension>

</plugin>
