<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.obeonetwork.dsl.layer.presentation.LayerModelWizardID"
            name="%_UI_LayerModelWizard_label"
            class="org.obeonetwork.dsl.layer.presentation.LayerModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/LayerModelFile.gif">
         <description>%_UI_LayerModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.obeonetwork.dsl.layer.presentation.LayerEditorID"
            name="%_UI_LayerEditor_label"
            icon="icons/full/obj16/LayerModelFile.gif"
            extensions="layer"
            class="org.obeonetwork.dsl.layer.presentation.LayerEditor"
            contributorClass="org.obeonetwork.dsl.layer.presentation.LayerActionBarContributor">
      </editor>
   </extension>

</plugin>
